name: Compile sing-box Rules
on:
  push:
    paths:
      - 'fakeipfilter.json'  # 只有当 json 文件修改时才触发
  workflow_dispatch:          # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install sing-box
        run: |
          set -e
          # 获取最新版 sing-box
          TAG=$(curl -s https://api.github.com/repos/SagerNet/sing-box/releases/latest | grep tag_name | cut -d '"' -f 4 | sed 's/v//')
          wget https://github.com/SagerNet/sing-box/releases/download/v${TAG}/sing-box-${TAG}-linux-amd64.tar.gz
          tar -xvf sing-box-${TAG}-linux-amd64.tar.gz
          mv sing-box-${TAG}-linux-amd64/sing-box /usr/local/bin/

      - name: Compile JSON to SRS
        run: |
          sing-box rule-set compile --output fakeipfilter.srs fakeipfilter.json

      - name: Commit and Push
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add fakeipfilter.srs
          git commit -m "Auto compile srs" || exit 0
          git push
